body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS61kcawZfRK5IKJ_MjA9scp4w0zctD3W_0c8uOFbANvcWcUUHMuY6pqbAzaD3NeLTcT1qnsb17BWmpvnhl6-P5skuX83OAtF9WrA&usqp=CAU&ec=45699844');
    background-repeat: no-repeat;
    background-size: cover;
}