*{
    font-family: 'Montserrat';
    font-size: large;
    text-align: center;
    color: cornsilk;
    background-color: rgb(13,2,33);

}
#list{
    font-size: large;
    font-weight: 300;
    background-color: 02020A;
    text-align: center;
}